.flightInfoOrange {
    background-color: darkorange;
    color: white;
}

.flightInfoRed {
    background-color: darkred;
    color: white;
}

.flightInfoGreen {
    background-color: darkgreen;
    color: white;
}
